.list {
    padding: 10rem 0;
    background-color: #FAFAFC;
}
.list__page {
}
.list__header {
}
.list__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    margin-top: 3rem;
}

.list__col {
    width: 33.3333%;
    padding: 0 8px;
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 721px) {
        width: 50%;
    }

    @media (max-width: 491px) {
        width: 100%;
    }
}
.list__item {
    height: 100%;
}
.list__photo {
    img {
        width: 100%;
    }
}
.list__content {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 20px 30px;
}
.list__type {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
.list__place {
    font-size: 20px;
    line-height: 28px;
    color: #45525B;
}
.list__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.list__icons {
    display: flex;
    align-items: center;
    margin-top: 10px;

    @media (max-width: 1037px) {
        width: 100%;
    }
}
.list__icon {
    margin-right: 8px;
    svg {
        width: 20px;
        height: 20px;
    }
}
.list__value {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #45525B;
}

.list__show {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.list__link {
    font-size: 15px;
    line-height: 21px;
    color: #45525B;

    &:hover {
        text-decoration: underline;
    }
}
.list__arrow {
    margin-left: 8px;
    svg {
        width: 20px;
        height: 10px;
    }
}