@charset "UTF-8";
.slider {
  padding: 10rem 0;
  position: relative;
}

.slider__inner {
  margin-top: 2rem;
  margin: 2rem -1rem 0;
}

.slider__item {
  padding: 0 1rem;
}

.slider__content {
  padding: 31px 39px 31px 31px;
  border: 1px solid rgba(82, 80, 59, 0.1);
}

.slider__stars {
  fill: #52503B;
}
.slider__stars svg {
  width: 18px;
  height: 18px;
}

.slider__item-title {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-top: 6px;
}

.slider__item-text {
  font-size: 15px;
  line-height: 22px;
  color: #333333;
  margin: 11px 0 19px;
}

.slider__item-author {
  font-size: 16px;
  line-height: 16px;
  color: #45525B;
  display: flex;
}
.slider__item-author:before {
  content: "";
  display: block;
  width: 3px;
  height: 24px;
  background-color: #FF8A63;
  margin-right: 1rem;
}

.slider__arrow {
  margin-top: 58px;
}

.slider__arrow-left {
  border: 2px solid #52503B;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-right: 6.5rem;
}
.slider__arrow-left svg {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  transition: all 0.2s linear;
}
.slider__arrow-left:hover {
  background-color: #52503B;
}
.slider__arrow-left:hover svg {
  fill: #fff;
}

.slider__arrow-right {
  border: 2px solid #52503B;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s linear;
}
.slider__arrow-right svg {
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
  transition: all 0.2s linear;
}
.slider__arrow-right:hover {
  background-color: #52503B;
}
.slider__arrow-right:hover svg {
  fill: #fff;
}

/* ------------------------------------------*/
.slick-slider {
  width: 100%;
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
  display: flex;
}

/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/* */
.slider__inner {
  margin-bottom: 20px;
}

.slider__inner .slick-arrow {
  position: absolute;
  bottom: 0;
  font-size: 0;
  width: 30px;
  height: 60px;
  z-index: 10;
  right: 136px;
}

/* Стрелка влево */
.slider__inner .slick-arrow.slick-prev {
  background: url(../assets/image/arrow_2.svg) center no-repeat;
  border: 2px solid #52503B;
  padding: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-right: 8rem;
  transition: all 0.2s linear;
}
.slider__inner .slick-arrow.slick-prev:hover {
  transform: scale(1.1);
}

/* Стрелка вправо */
.slider__inner .slick-arrow.slick-next {
  background: url(../assets/image/arrow_1.svg) center no-repeat;
  padding: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 2px solid #52503B;
  cursor: pointer;
  transition: all 0.2s linear;
}
.slider__inner .slick-arrow.slick-next:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=slider.css.map */